

.header {
  position: relative;
  color: white;
  padding: 20px;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
button {
  border-radius: 1px;
  border: 2px solid #7cc6feff;
  color: white;
  padding: 8px 16px;
  background-color: #7cc6feff;
  font-weight: bold;
}

button + button {
  margin-left: 8px;
}

.shopping-cart-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding-right: 10px;
  margin-right: 60px;

}

.shopping-cart-icon > path {
  fill: #715b64ff;
}

.logo-icon {
  position: absolute;
  top: 0;

}

form {
  display: flex;
  flex-direction: column;
  background-color: #9ee493ff;
  padding: 32px;
  width: 300px;
  border-radius: 4px;
}

form label {
  margin: 4px 0;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 4px 8px;
  margin: 6px 0;
}



h2 {
  margin: 32px 0 24px 0;
}

.content {
  margin: 32px;
}

button.form-button {
  width: 100%;
}

.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}

section  {
  margin: 0 0 50px 0;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p.successmessage {
  color: green;
}